# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#ignore all files in each directory
*/*

#unignore .c files in each directory
!*/*.c

#unignore .h header files in each directory
!*/*.h

#unignore .o files in each directory
!*/*.o

#unignore .a files in each directory
!*/*.a

#unignore .md files in each directory
!*/*.md

#unignore .sh files in each directory
!*/*.sh


#unignore .gitignore
!.gitignore

#ignore compiled files
*-main.c
*main.c

#ignore backup files
*.*~

#ignore clion files
.idea
CMakeLists.txt